<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECsite with scalability</title>
</head>
<body>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .img-wrapper{
            width: 170px;
            height: 210px;
            position: relative;
            overflow: hidden;
            margin:0 auto;
        }

        .img-wrapper img{
            width: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        section {
            display: flex;
            flex-wrap: wrap;
        }

        .merchandise-card {
            margin: 16px 12px;
        }
    </style>

    <header>
        <h1>ECsite With Scalability</h1>
    </header>
    <section>
        <% for (var i = 0; i < 20; i++) { %>
            <div class="merchandise-card">
                <div class="img-wrapper">
                    <img src="<%= data[i % 3].imgPath %>" alt="">
                </div>
                <p><%= data[i % 3].name %></p>
                <p><%= data[i % 3].price %></p>
            </div>
        <% } %>
    </section>
</body>
</html>